/* Styling for Flipcards */

body {
    text-align: center;
    margin:0;
}

/*Applies to "Dare to Discover" Title*/
h1{
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 1%;
    text-align: left;
    font-size: 1.4em;
}  

h2 {
    font-size: 1.4em;
    padding: 4% 5.5% 0%;
    text-align: left;
} 

/*Applies to Footer Text*/
h4 {
    text-align: left;
    padding: 0% 5.5% 3%;
    font-size: 50%;
    color: gray;
}

/*Makes the Navbar stick to the top*/
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*Text underneith each icon*/
p.iconText {
    font-size: .3em;
    text-decoration: none;
    margin-bottom: 10%;
}

/*Applies to paragraphs underneith title "Welcome to Carnegie Mellon"*/
p.OrientationInformation {
    text-align: left;
    padding: 1% 5.5% 0%;
    font-size: .9em;
}

/*When user is currently on the page of the icon*/
.icon-bar.health .active{
    font-weight: 600;
    color: #f8d47f;
}


/*Code for the icon Navbar*/
.icon-bar {
    width: 100%;
    text-align: center;
    background-color: white;
    overflow: auto;
    z-index: 50;
    border-style: hidden hidden solid hidden;
    border-width: .5px;
    border-color: rgb(200, 200, 200, 0.7);
}

/*Code for the actual icons on the Navbar*/
.icon-bar a {
    width: 20%; /*Each icon is 20% of total phone width*/
    padding: 0;
    margin-top: 1%;
    float: left;
    transition: all 0.3s ease;
    color: black; /*Icon color*/
    font-size: 180%; /*Icon size*/

}

/*Hover Over an Icon on Navbar*/
.icon-bar a:hover {
    text-decoration: none;
}

/* Flashcards */

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 90%;
    height: 250px;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.card {
    height: 100%;
    width: 100%;
    background: #f8f8f8;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    padding: 5%;
}

    .card div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        position: absolute;
        width: 90%;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .card p {
        margin-bottom: 0;
        font-size: 0.9em;
    }

    .card .back p {
        position: relative;
    }

label:hover .card {
    -webkit-transform: rotateX(3deg);
    transform: rotateX(3deg);
    box-shadow: 0 3px 3px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(177deg);
    -webkit-transform: rotateX(177deg);
    box-shadow: 0 3px 3px rgba(50,50,50,.2);
}